@import '../../styles/variables';

.--m.--desk.m-right {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  .m-buttons {
    display: inline-flex;
    //height: 100%;
    margin-right: 15px;
      .menu-button {
        user-select: none;
        cursor: pointer;
        margin: 5px 5px 5px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        font-size: 18px;
        //color: lightgray;
        color: white;
        text-decoration: none;
        padding: 0 1px;

        &.-selected {
          border-bottom: 2px solid $primaryColor;
        }
      }
  }
  .phone {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    .text {
      font-size: 24px;
      border-right: 1px solid rgba(128, 128, 128, 1);
      padding-right: 7px;
      margin-right: 7px;
    }
  }
}