@import '../../styles/variables';

.menu {
  z-index: 1001;
  .--m.--mob.m-right {
    width: 80px;
    justify-content: flex-end;
    align-items: center;

    .menu-button {
      display: flex;
      width: 50px;
      height: 100%;
      padding-left: 10px;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      cursor: pointer;

      .-menu-bars {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

}
}

.m-menu {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $menu-translucent-show;
  right: calc(-100% - 50px);
  //top: 91px;
  padding-top: 91px;
  top: 0;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
  transition: right 250ms ease-in-out, top 250ms ease-in-out;
  padding-bottom: 40px;
  &.-s {
    //top: 61px;
    padding-top: 61px;
    top: 0;
    background: white;
    .m-b-dot {
      .menu-button {
        color: $text;
      }
    }
    .phone {
      .text {
        color: $text;
      }
    }
  }
  &.-show {
    right: 0;
  }
  .m-b-dot {
    display: flex;
    flex-direction: column;
    .menu-button {
      user-select: none;
      cursor: pointer;
      margin: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 40px;
      font-size: 24px;
      text-align: end;
      color: white;
      text-decoration: none;
      padding: 5px 20px;

      &.-selected {
        //border-bottom: 2px solid $primaryColor;
        color: $primaryColor;
      }
    }
  }
  .phone {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
    .text {
      font-size: 24px;
      border-right: 1px solid rgba(128, 128, 128, 1);
      padding-right: 7px;
      margin-right: 7px;
      color: white;
    }
  }

}
@media screen and (min-width: 501px) {
  .m-menu {
    width: 500px;
    height: auto;
    right: -530px;
    border-left: 1px solid rgba(128, 128, 128, 0.1);
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  }
}
@media screen and (min-width: 1140px) {
  .m-menu {
    right: calc(-100% - 50px) !important;
  }
}