@import "variables";

.App {
  text-align: center;
  background-color: #f8f8f8;
  .section {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  p {
    justify-content: flex-start;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: $text;
  }
  a {
    color: $primaryColor;
    &:visited {
      color: $primaryColor;
    }
  }
  li {
    line-height: 1.7;
  }
}