$max-width: 1600px;
$min-width: 1100px;

$logo-size: 70px;
$left-width: 300px;

$primaryColor: #0288d1;
$primaryColorDark: #005b9f;
$primaryColorLight: #5eb8ff;
$text: #4c4c4c;

$box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
//$menu-translucent: rgba(43, 47, 49, .58);
$menu-translucent: rgba(43, 47, 49, .0);
$menu-translucent-show: rgba(43, 47, 49, .8);