@import "../../../../styles/variables";

.service {
  width: 100%;
  max-width: $min-width;
  .s-content {
    max-width: $min-width;
    padding: 20px;
    width: calc(100% - 40px);
    .-title {
      text-align: left;
      font-size: 28px;
      font-weight: bold;
      color: #0288d1;
    }
    .-image {
      float: left;
      width: 500px;
      text-align: center;
      margin: 5px 20px 5px 0;
      //border: 5px solid $primaryColor
    }
  }
}

@media screen and (max-width: 960px){
  .service {
    .s-content {
      .-title {
      }
      .-image {
        width: 300px;
        margin: 5px 10px 5px 0;
      }
    }
  }

}

@media screen and (max-width: 650px){
  .service {
    .s-content {
      padding: 20px 10px;
      width: calc(100% - 20px);
      .-title {
      }
      .-image {
        width: 250px;
      }
    }
  }

}
@media screen and (max-width: 500px){
  .service {
    .s-content {
      padding: 20px 0;
      width: 100%;
      .-title {
        padding: 10px 10px 0;
      }
      .s-description {
        padding: 0 10px;
      }
      .-image {
        width: 100%;
      }
    }
  }

}