@import '../../../../styles/variables';

$serviceHeight: 200px;
$pictureWidth: $serviceHeight * 500/400;

.services {
  width: 100%;
  max-width: $min-width;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .services-int {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .services-content {
    min-width: 760px;
    max-width: 960px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .service {
      width: 100%;
      min-width: 760px;
      max-width: 960px;
      height: $serviceHeight;
      border: 1px solid rgba(0, 0, 0, 0.08);
      //margin: 50px 0;
      display: flex;
      justify-content: left;
      position: relative;
      margin-bottom: 20px;
      background-color: white;
      transition: all 250ms ease-in-out;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }
      .s-image {
        width: $pictureWidth;
        //height: $serviceHeight;
        //height: 400px;
        //border: 5px solid $primaryColor;
        z-index: 2;
      }
      .s-content {
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 25px 40px;
        flex-direction: column;
        .-name {
          font-size: 28px;
          font-weight: bold;
          color: $primaryColor;
        }
        .-ps {
          .-de {
            list-style: none;
            color: $text;
            text-align: start;
            font-size: 18px;
            margin-bottom: 12px;
            margin-left: -20px;
            display: inline-flex;
            width: 100%;
            &:before {
              content: "\25A0";
              color: $primaryColor;
              font-size: 15px;
              display: inline-block;
              width: 10px;
              margin-left: 0;
              margin-right: 10px;
              margin-top: 3px;
            }
          }
        }
      }
      .-button {
        position: absolute;
        right: 25px;
        bottom: 25px;
        color: $primaryColor;
        z-index: 3;
        &:hover {
          color: $primaryColorLight;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {

  .services {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    .services-content {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      .service {
        width: 500px;
        min-width: 500px;
        max-width: 500px;
        flex-direction: column !important;
        height: auto;

        .s-image {
          width: 100%;
          box-sizing: border-box;
          height: auto;
        }

        .s-content {
          width: 100%;
          box-sizing: border-box;
          padding: 25px 20px;

          .-name {

          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  .services {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    .services-content {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      .service {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        flex-direction: column !important;
        height: auto;
        border-left: none;
        border-right: none;

        .s-image {
          width: 100%;
          box-sizing: border-box;
          height: auto;
        }

        .s-content {
          width: 100%;
          box-sizing: border-box;
          padding: 25px 20px;

          .-name {

          }
        }
      }
    }
  }
}
